 /* CNIT133m Homework 01 */
 
 body {
   background-color:whitesmoke;
   
 }
 
 h1 {
	 text-align:center;
 }
 
 h3 {
	 text-align:center;
 }
 
 .container {
   background-color:white;
   
 }